.condition {
  .box {
    width: 200px;
    height: 50px;
    background: red;
    line-height: 50px;
    text-align: center;
    color: white;
  }

  .red {
    color: red;
  }
  .green {
    color: green;
  }
}
